.performanceMain{
    margin: 50px;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap ;
    width: 100%;
    overflow: hidden;
    
}
.caseMain{
    margin-right: 50px;
    text-align: center;
}
