.performanceMain{
    margin: 50px;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap ;
    overflow: hidden;
    
}
.caseMain{
    margin-right: 50px;
    text-align: center;
}
.container {
    height: auto;
    width: 70%;
    margin: 0 15%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFF;
  
}
  
.image-List{
  width: 95%;

}