.main{
    overflow: hidden;
}
.swiper{
    width: 100%;
    height: 400px;
    min-height: 100%;
}
.footer{
    background-color:#6b778d;
    position: fixed;
    z-index: 9999;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 20px;
    
}